.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

  .navigation_link__label {
    font-style: normal;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 2.6rem;
    letter-spacing: 1px;
  }

  .active {
    background-color: #0f0f0f;
    width: 15em;
    height: 46px;
    color: #fff;
    border-radius: 12px;

    .navigation_link__label {
      color: #fff !important;
    }
  }
}
